body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  background-color: #F8EEDE;
}

.square {
  font-family: 'Gochi Hand', cursive;
  background-color: #BEEECE;
  border: 2px solid #29A352;
  font-size: 32px;
  cursor: 'pointer';
}

.x-color {
  color: blue;
}
.o-color {
  color: red;
}

.board {  
  background-color: #29A352;
  border: 2px solid #29A352;
  display: grid;
  grid-template: repeat(3, 1fr) /repeat(3, 1fr);
  margin: 64px auto 32px auto;
  width: 360px;
  height: 360px;
  border-radius: 4px;
}

.results {
  width: 250px;
  margin: auto;
  text-align: center;
  p {
    font-size: 24px;
  }
  .btn {
    width: 100%;
    margin-top: 16px;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28292b;
  height: 200px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 10px 15px #888888;
  // transform:scaleX(1);
  h1 {
    color: white;
    text-shadow: white;
  }
  .logo {
    color: white;
    margin: 0 12px 8px 0;
    font-size: 48px;
  }
}

@media (max-width: 576px) {
  .header {
    border-radius: 0 30%;
    h1 {
      font-size: 32px;
    }
    .logo {
      font-size: 40px;
    }
  }
  .board {  
    width: 320px;
    height: 320px;

  }
}
@media (hover: hover) {
  .square:hover {
    opacity: 0.5;
    transition: 0.2s;
  }
}



// .bounce-6 {
//   animation-name: bounce-6;
//   animation-timing-function: ease;
// }
// @keyframes bounce-6 {
//   0%   { transform: scale(1,1)      translateY(0); }
//   10%  { transform: scale(1.1,.9)   translateY(0); }
//   30%  { transform: scale(.9,1.1)   translateY(-100px); }
//   50%  { transform: scale(1.05,.95) translateY(0); }
//   57%  { transform: scale(1,1)      translateY(-7px); }
//   64%  { transform: scale(1,1)      translateY(0); }
//   100% { transform: scale(1,1)      translateY(0); }
// }